<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>群策力</name>
    <description>
        群策力测试版
    </description>
    <author email="everof1982@gmail.com" href="http://github.com/ever82">
        Ever
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="KeepRunning" value="true"/>
    <preference name="AndroidLaunchMode" value="singleInstance" />

</widget>
